<body>
<hr />
<h2 > Modification Adresse : {{ numRue + ' ' + nomRue  + ' ' + nomVille  + ' ' + codePostal }} </h2>
<hr />

<div class="col-sm-8 col-sm-offset-2">
  <div class="form-group">
    <label for="nom">Numero de Rue</label>
    <input type="text" id="nom" [(ngModel)]="numRue" class="form-control" >
  </div>

  <div class="form-group">
    <label for="specialite">Rue</label>
    <input type="text" id="specialite"  [(ngModel)]="nomRue" class="form-control" >
  </div>

  <div class="form-group">
    <label for="ville">Ville</label>
    <input type="text" id="ville"  [(ngModel)]="nomVille" class="form-control" >
  </div>

  <div class="form-group">
    <label for="departement">Departement</label>
    <input type="text" id="departement"  [(ngModel)]="departement" class="form-control" >
  </div>

  <div class="form-group">
    <label for="codePostal">Code Postal</label>
    <input type="text" id="codePostal" [(ngModel)]="codePostal " class="form-control" >
  </div>

  <div class="form-group">
    <label for="pays">Pays</label>
    <input type="text" id="pays" [(ngModel)]="pays" class="form-control" >
  </div>

  <div class="form-group">
    <label for="gps">Coordonnées GPS</label>
    <input type="text" id="gps"  [(ngModel)]="gps" class="form-control" >
  </div>

<div>
  <div style="position: relative; float: left;">
    <button class="btn btn-primary" onClick="javascript:window.history.go(-1)">Retour</button>
  </div>
  <div style="position: relative; float: right;">
    <button class="btn btn-primary"  (click)="onEdit() ">Enregistrer</button>
  </div>
</div>


</div>
</body>
