<body>

<h2> Espace Ecoles
  <a class="btn btn-primary newEcole" routerLink="/new-ecole">Nouvelle Ecole</a>
</h2>
<hr/>

<div>
  <form>
    <input [(ngModel)]="input" class="form-control" id="input" name="input" placeholder="rechercher Ecole par :">
    <div class="btn-group btn-group-justified">
      <a (click)="rechercheEcoleParIntitule(input)" class="btn btn-primary">Intitule</a>
      <a (click)="rechercheEcoleParFormation(input)" class="btn btn-primary">Formation</a>
      <a (click)="rechercheEcoleParNvEtude(input)" class="btn btn-primary">Niveau etude</a>
      <a (click)="rechercheEcoleParAdresse(input)" class="btn btn-primary">Adresse</a>
    </div>
  </form>
  <ul>
    <li *ngFor="let re of resEcole | async" class="list-group-item" routerLink="{{re.nom }}">
      <h4> {{ re.nom}} {{ re.adresse.nomVille }}</h4>
    </li>
  </ul>
</div>

<div>
  <ul class="list-group">
    <li *ngFor="let ecole of ecoles | async" class="list-group-item" routerLink="{{ecole.nom }}">
      <h4 class="UneEcole">{{ ecole.nom}} {{ ecole.specialite }}</h4>
      <p>Nombre etudiants : {{ ecole.nbEtudiants }}</p>
    </li>
  </ul>
</div>
<br/>
<hr/>
<hr/>
</body>

<footer>
  <nav aria-label="navigation">
    <ul class="pager center-block radio-inline">
      <li><a (click)="pagePrecedente()" id="precedent" title="Précédent">Précédent</a></li>
      <li><a (click)="pageSuivante()" id="suivant" title="Suivant">Suivant</a></li>
    </ul>

    <div class="panel panel-primary" id="panelInformations">
      <div class="panel-heading">

        <label (click)="selectionneNbAffichage()" class="radio-inline ">
          <input checked id="opt5" name="optradio" type="radio"> 9</label>

        <label (click)="selectionneNbAffichage()" class="radio-inline">
          <input id="opt10" name="optradio" type="radio">18</label>

        <label (click)="selectionneNbAffichage()" class="radio-inline">
          <input id="opt25" name="optradio" type="radio">36</label>

        <label class="radio-inline bottom-left" style="  float: right;"> {{pageEnCours}}/{{totalPageMax}}</label>

      </div>
    </div>
  </nav>
</footer>

