.list-group-item {
  color: black;
}

.list-group-item:hover {
  color: dodgerblue;
}

.btn-secondary {
  float: right;
  height: 30px;
  background-color: dodgerblue;

}

.list-group-item {
  display: block;
  width: 380px;
  float: left;
  text-align: center;
}

.list-group-item[float="left"] + li {
  display: block;
  float: none;
}

.list-group-item[float="left"] + li + li {
  display: block;
  float: none;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}


footer {
  margin-top: auto;
  color: white;
  padding: 15px;
}


.newEcole {
  float: right;
}
