<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="#">
          <img alt=""
               src="https://www.ledigitalpme.fr/assets/components/phpthumbof/cache/20170209-010218_migx_ack.8018dfd5b3a6e4c8df59313d582b0a10.png"
               width="100">
        </a>
        <li routerLinkActive="active"><a routerLink="event">Evenements</a></li>
        <li routerLinkActive="active"><a routerLink="edit">Nouveau Evenement</a></li>
        <li routerLinkActive="active"><a routerLink="collaborateur">Collaborateurs</a></li>
        <li routerLinkActive="active"><a routerLink="ecole">Ecoles</a></li>
        <li routerLinkActive="active"><a routerLink="agenda">Agenda</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>




